.git/
.github/
.idea/
.vs/

**/bin/
**/obj/
**/out/
**/TestResults/
**/coverage/

Frontend/
UnitTests/

ReplayData/
ReplayDataCache/

**/*.csv
**/*.zip

logs/
**/logs/

*.user
*.suo
*.DotSettings.user
*.log
